<form action="/login" method="POST">
    <div class="col-4 mx-auto">
        <div class="card">
            <div class="card-header">
                <div class="form-control">
                    <label for="nombre">Usuario</label>
                    <input type="username" name="username">
                </div>
                <div class="form-control">
                    <label for="apellido">Password</label>
                    <input type="password" name="password">
                </div>
                <button type="submit">Enviar</button>
            </div>
        </div>
    </div>
</form>